<template>
    
  <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3><span id="dtotal-officers">0</span></h3>

                <p>Officer Registered</p>
              </div>
              <div class="icon">
              </div>
              <a href="/admin/manage-users/police-officers" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><span id="dtotal-civilians">0</span>	</h3>

                <p>Civilian Registered</p>
              </div>
              <div class="icon">
              </div>
              <a href="/admin/manage-users/civilians" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><span id="dtotal-registration-requests">0</span></h3>

                <p>Registration Requests</p>
              </div>
              <div class="icon">
              </div>
              <a href="/admin/manage-users/registration-requests" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><span id="dtotal-crime-report">0</span></h3>

                <p>Today's Crime Reports</p>
              </div>
              <div class="icon">
              </div>
              <a href="/admin/reports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

</template>

<script>
    
    export default {
  

    	date() {

    		return {

    			totalCivilian  : null,
    			totalOfficer  : null,
    			totalRegistrationRequest  : null,
    			totalCrimeReports: null



    		}

    	},
    	methods: {

			loadTotalOfficers() {

                this.totalOfficer = document.getElementById('dtotal-officers');

    			 axios.get('/api/total-officers')
			      .then(response => {
			        this.totalOfficer.textContent  =response.data.total_officers
			      });
			      

    		},
    		loadTotalCivilians() {

    			this.totalCivilian = document.getElementById('dtotal-civilians');

    			 axios.get('/api/total-civilians')
			      .then(response => {
			        this.totalCivilian.textContent  =response.data.total_civilians
			      });
			      

    		},
    		
    		loadTotalRegistrationRequest() {

    			this.totalRegistrationRequest = document.getElementById('dtotal-registration-requests');

    			 axios.get('/api/total-registration-requests')
			      .then(response => {
			        this.totalRegistrationRequest.textContent  = response.data.total_registration_requests
			      });
			      

    		},

    		loadTotalTodayCrimeReports() {

    			this.totalCrimeReports = document.getElementById('dtotal-crime-report');

    			 axios.get('/api/total-today-crime-reports')
			      .then(response => {
			        this.totalCrimeReports.textContent  = response.data.total_crime_reports
			      });
			      

    		}

    		


    	}, 

    	mounted() {

    		this.loadTotalOfficers();
    		this.loadTotalCivilians();
    		this.loadTotalRegistrationRequest();
    		this.loadTotalTodayCrimeReports();
    	},

    	created() {

		  Echo.channel('total-civilian')
            .listen('LoadTotalCivilian',(e) =>   {
            
            	this.loadTotalCivilians();

            });

          Echo.channel('total-officer')
            .listen('LoadTotalOfficer',(e) =>   {
            
            	this.loadTotalOfficers();
                console.log(e);

            });

          Echo.channel('total-registration-request')
            .listen('LoadTotalRegistrationRequest',(e) =>   {

            	this.loadTotalRegistrationRequest();

            });


          Echo.channel('total-crime-report')
            .listen('LoadTotalCrimeReport',(e) =>   {

              this.loadTotalTodayCrimeReports();

            });
    	}


    };

</script>
