<template>
    
    <div class="card-body">

        <div class="form-group">
            <label>Select Month and Year</label>           
            <div class="input-group">
                <date-picker v-model="date" :config="options" id="generate_date"></date-picker>
                <div class="input-group-append">
                  <span class="fa fa-calendar input-group-text"></span>
              </div>
            </div>
        </div>

        <div class="form-group">
          <label>Barangay</label>
          <select id="generate_barangay" class="form-control" style="width: 100%;">
            <option value="0" selected="selected" >All</option>
            <option v-for="barangay in barangays" :value="barangay.encrypted_id" :key="barangay.encrypted_id">{{ barangay.name }}</option>
          </select>
        </div>


    </div>

</template>

<script>
    
    var date = new Date();

    export default {

    	data() {

    		return {

    			barangays  : {},
                date: date.getFullYear()+'-'+(date.getMonth()+1)+'-'+(parseInt(date.getDate())),
                options: {
                  format: 'YYYY-MM',
                  useCurrent: false,
                  showClear: false,
                  showClose: true,
                }

    		}

    	},
    	methods: {

            loadBarangays() {

                axios.get('/api/crime-barangays').then(({ data }) => (this.barangays = data.data));

            }
    	
    	}, 

    	mounted() {


            this.loadBarangays();

    	},

    	created() {

    	}
  
    };

</script>
