<template>

   <div class="row" >
        <section style="display: none" class="col-lg-10">

            <div id="map-canvas" style="height: 400px;"></div>  
            
        </section>
    </div>


</template>

<script>
    

    var GoogleMapsLoader = require('google-maps'); // only for common js environments

    export default {
        data() {

            return {

                map: null,
                reporter_fence: null,
                reporter_marker: null,
                reporter_center : { lat: 14.18887515, lng: 121.10993041 },
                radius: 5000


            };

        },
        
        methods : {

            initMap(reporter, reporter_center, officer_center) {



                var _this = this;

                GoogleMapsLoader.load(function(google) { 


                  
                      _this.map = new google.maps.Map(document.getElementById('map-canvas'), {
                          center: reporter_center,
                          zoom: 12
                      });

                      _this.reporter_fence = new google.maps.Circle({
                          strokeColor: '#FF0000',
                          strokeOpacity: 0.5,
                          strokeWeight: 2,
                          fillColor: '#FF0000',
                          fillOpacity: 0.2,
                          map: _this.map,
                          center: reporter_center,
                          radius: _this.radius
                      });

                      _this.reporter_marker = new google.maps.Marker({
                          position: reporter_center,
                          map: _this.map,
                          draggable: true,
                          animation: google.maps.Animation.DROP,
                          title: 'searchAreaMarker'
                      });

                      var randomMarkers = [
                          // { title: 'Marker 1', latLng: new google.maps.LatLng(14.19316597, 121.12598419) }, 
                          { title: 'Marker 1', latLng: new google.maps.LatLng(officer_center.lat, officer_center.lng) },                          

                      ];

                      for (var i = 0; i < randomMarkers.length; i++) {
                          randomMarkers[i].marker = new google.maps.Marker({
                              position: randomMarkers[i].latLng,
                              map: _this.map,
                              title: randomMarkers[i].title
                          });
                      }


                      var reporter_fence = _this.reporter_fence;
                      var reporter_marker = _this.reporter_marker;
                      var map = _this.map;

                        for (var i = 0; i < randomMarkers.length; i++) {
                           
                              console.log('Marker: ' + randomMarkers[i].marker.title + ', position: ' + randomMarkers[i].marker.getPosition()); 

                          if (google.maps.geometry.spherical.computeDistanceBetween(randomMarkers[i].marker.getPosition(), reporter_fence.getCenter()) <= reporter_fence.getRadius()) {

                              // alert(JSON.stringify(reporter_center));

                               swal({
                                  title: reporter.incident,
                                  text: reporter.name,
                                  icon: reporter.image_url,
                                  buttons: {
                                      cancel: "Cancel",
                                      details: "Show" ,  
                                      route: "Route" ,
                                      accept: true,


                                    }
                               }).then((value) => {
                                    switch (value) {
                                   
                                      case "accept":

                                        $.ajax({

                                            url : reporter.accept_url,
                                            method : 'POST',
                                            data: { 

                                              _token : $('meta[name="csrf-token"]').attr('content'),
                                              encrypted_id : reporter.encrypted_id

                                            },
                                            dataType: "json",
                                            success : function(data){
                                                
                                              if(data.is_success) {

                                                swal("Great!", "Report accepted Successfully!", "success");

                                              } else {


                                                  swal({
                                                    title: "Oooppss!",
                                                    text: "Report is already accepted!",
                                                    icon: "warning",
                                                    buttons: true,
                                                    dangerMode: true,
                                                  });


                                              }



                                            }
                                          });

                                        break;
                                   
                                      case "details":
                                        window.location = reporter.report_details_url;
                                        break;
                                   
                                      case "route" :
                                         window.location = reporter.route_url;
                                        break;

                                      default:
                                       
                                    }
                                  });

                          } else {            

                                   // swal({
                                   //   title: "Are you sure?",
                                   //   text: "Once deleted, you will not be able to recover it.",
                                   //   icon: "warning",
                                   //   buttons: true,
                                   //   dangerMode: true,
                                   // })
                                   // .then((willDelete) => {
                                   //   if (willDelete) {

                                      

                                   //   } else {

                                   //   }
                                   // });

                          }
                      }


                      //  google.maps.event.addListener(this.reporter_marker  , 'dragend', function(e) {
                      //     var center = e.latLng;

                      //      reporter_fence.setOptions({
                      //         center: center
                      //     });

                      //     map.panTo(reporter_marker.getPosition());

                      //     // find markers in area
                      //       for (var i = 0; i < randomMarkers.length; i++) {
                           
                      //         console.log('Marker: ' + randomMarkers[i].marker.title + ', position: ' + randomMarkers[i].marker.getPosition()); 

                      //         if (google.maps.geometry.spherical.computeDistanceBetween(randomMarkers[i].marker.getPosition(), reporter_fence.getCenter()) <= reporter_fence.getRadius()) {
                      //             alert('=> is in searchArea');
                      //         } else {                
                      //             console.log('=> is NOT in searchArea');
                      //         }
                      //     }

                      // });


                });


            }

        },
        mounted() {
        
           GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];


         },
         created() {

            GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];


            var reporter_location, officer_location;
            var reporter, officer;
            var _this= this;
             Echo.channel('send-to-online-officers')
                 .listen('SendToOnlineOfficers',(e) =>   {
            
                reporter = e.crime_report;
                reporter_location = { lat: parseFloat(reporter.lat), lng: parseFloat(reporter.lng) };


                axios.post('/crime-report-to-officer', {

                    crime_report_id: e.crime_report.id,

    
                })

                .then(function (response) {


                    if (navigator.geolocation){
               
                           navigator.geolocation.getCurrentPosition(function(position) { 
                             var officer_location = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                              };
                           

                                    axios.post('/fetch-geofence', {

                                      user_id: reporter.data.user_id,
                                      lat: officer_location.lat,
                                      lng: officer_location.lng

                                    })

                                    .then(function (response) { 

                                        // alert('done');
                                        _this.initMap(reporter, reporter_location, officer_location);


                                    });


                                  // alert(JSON.stringify(pos));


                          },
                          function(failure) {
                            $.getJSON('https://ipinfo.io/geo', function(response) { 
                              var loc = response.loc.split(',');
                              var officer_location  = {
                                  lat: parseFloat(loc[0]),
                                  lng: parseFloat(loc[1])
                              };
                         
                  
                              _this.initMap(reporter, reporter_location, officer_location);

                              
                              });  
                          }
                      );
                     

                    } else {
                       // Browser doesn't support Geolocation
                    }

               
                });


              

            });


         }
    };
</script>
<style>
       
    #map-canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
    }

    .swal-button--accept {
     background-color: #e64942;
    }
</style>