<template>
   
     <div class="row" >

          <section class="col-lg-10">
            
           
             <div class="card">
              <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                  <i class="fa fa-map-marker"></i>
                  Crime Map
                </h3>

                <div class="card-tools">

                 <button type="button" class="btn btn-tool" id="refresh-admins-btn" data-toggle="tooltip" data-placement="top" title="Refresh" ><i class="fa fa-refresh"></i>
                </button>
              
              </div>

              
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                    
                <div class="row">

                      <div class="col-md-3">
                        <div class="form-group">
                            
                            <label >Search Incident </label>           
                            <input class="form-control" id="search_text" @input="onSearch($event)" placeholder="Search here.."></input>
                           
                        </div>
                    </div>

                  

                    <div class="col-md-3">
                        <div class="form-group">
                          <label>Barangay</label>
                          <select id="barangay_crime" class="form-control" @change="onChangeBarangay($event)"  style="width: 100%;">
                            <option value="0" selected="selected">All</option>
                            <option v-for="barangay in barangays" :value="barangay.encrypted_id" :key="barangay.encrypted_id">{{ barangay.name }}</option>
                          </select>
                        </div>

                    </div>

                  
                    <div class="col-md-3">
                        <div class="form-group">
                            
                            <label >Date from </label>           
                             <div class="input-group">
            
                                <date-picker v-model="date_from" :config="options_from" @dp-change="change"></date-picker>
                                <div class="input-group-append">
                                  <span class="fa fa-calendar input-group-text"></span>
                                </div>

                            </div>
                           
                        </div>
                    </div>

                   
                    <div class="col-md-3">
                         <div class="form-group">
                             <label>Date to </label>           


                            <div class="input-group">
    
                                <date-picker v-model="date_to" :config="options_to" @dp-change="change"></date-picker>
                               <div class="input-group-append">
                                  <span class="fa fa-calendar input-group-text"></span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div id="realtimemap" style="height: 400px;"></div>
                
              </div>
              <!-- /.card-body -->
           
            </div>
            <!-- /.card -->


          </section>

          <section class="col-lg-2"> 


             <div class="card">
              <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                 
                  Legend
                </h3>
             
                <div class="card-tools">
                
               
                
                </div>
            </div>
              <!-- /.card-header -->
              <div class="card-body" style="margin-bottom: 11px;">
              
                <div class="row">
                  
                    <div class="col-lg-12 col-4 text-center"  v-for="incident in incidents" >

                  <div class="row">
                    
                    <div class="col-md-12 col-12" style="margin-top: 5px">
                        <img  :src="incident.marker_url" height="50" width="50">
                    </div>

                   <div class="col-lg-12 col-12">
                   {{ incident.name }}
                    </div>
                  </div>

                </div>

                </div>

              </div>

            </div>
        </section>
    </div>

       
</template>

<script>
    
    import $ from 'jquery';

    var markers = [];
    var date = new Date();
    var date2 = new Date();
    date2.setDate(date.getDate()+7);
    date.setDate(date.getDate()-1);

    var GoogleMapsLoader = require('google-maps'); // only for common js environments

    export default {
        data() {

            return {
                map: null,
                search: '',
                marker : null,
                center : {lat:14.1877, lng:121.1251},
                coordinates:[],
                date_to: date2.getFullYear()+'-'+(date2.getMonth()+1)+'-'+(parseInt(date2.getDate())),
                options_to: {
                  format: 'YYYY-MM-DD',
                  useCurrent: false,
                  showClear: true,
                  showClose: true,
                },
                date_from: date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate(),
                options_from: {
                  format: 'YYYY-MM-DD',
                  useCurrent: false,
                  showClear: true,
                  showClose: true,
                } ,
                barangays : {} ,
                incidents: {}
            }

        },
        methods : {
            mapInit() {


                var _this = this;

                GoogleMapsLoader.load(function(google) { 

                    _this.map = new google.maps.Map(document.getElementById('realtimemap'), {
                        center: _this.center,
                        zoom: 13,
                        mapTypeId: 'roadmap'

                    });

                    var marker = new google.maps.Marker({
                        map: _this.map,
                        position: _this.center,
                        animation:"bounce"
                    });

                    _this.loadCrimeReports(_this.date_from, _this.date_to);
                   


                }); 
                            
            },
            change() {

                this.loadCrimeReports(this.date_from, this.date_to);
                

            },
            updateMap() {

                let newPosition = { lat: this.data.lat, lng:this.data.long };
                this.map.setCenter(newPosition);
                // this.marker.setPosition(newPosition);

            },
            loadBarangays() {

              axios.get('/api/crime-barangays').then(({ data }) => (this.barangays = data.data));

            },
            onChangeBarangay(event) {

                this.loadCrimeReports(this.date_from, this.date_to);

            },
            onSearch(event) {

                this.loadCrimeReports(this.date_from, this.date_to);

            },
            loadIncidents() {

               axios.get('/api/incidents').then(({ data }) => (this.incidents = data.data));

            },
            loadCrimeReports(date_from, date_to) {

                for (var i = 0; i < markers.length; i++) {
                  markers[i].setMap(null);
                }

                var map = this.map;

                axios.post('/api/crime-reports', {

                    date_from: date_from,
                    date_to: date_to,
                    encrypted_id: $('#barangay_crime').val(),
                    search_text: $('#search_text').val(),

                })

                .then(function (response) {

                    var data = response.data.data;
                   
                    data.forEach(function(item, index){


                        GoogleMapsLoader.load(function(google) { 

                                 var icon = new google.maps.MarkerImage(
                                 item.icon_url,
                                    null, 
                                    null,
                                    null,
                                    new google.maps.Size(40, 40)); 

                                  var marker = new google.maps.Marker({
                                    map: map,
                                    position: {lat: item.lat, lng: item.lng},
                                    icon: icon,
                                    animation:"bounce"
                                });

                                marker.addListener('click', function() {
                                  map.setZoom(16);
                                  map.setCenter(marker.getPosition());
                                });

                                markers.push(marker);

                        });

                    });
               
                });

            }
        },
        mounted() {

            GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];

            this.mapInit();
            this.loadBarangays();
            this.loadIncidents();

        },

        created() {

               GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];

          Echo.channel('track-latest-crime')
            .listen('TrackLatestCrime',(e) =>   {
            
                var _this = this;

                GoogleMapsLoader.load(function(google) { 

                      var data = e.crime_report;
                      var icon = new google.maps.MarkerImage(
                               data.icon_url,
                                  null, 
                                  null,
                                  null,
                                  new google.maps.Size(40, 40)); 

                        var marker = new google.maps.Marker({
                          map: _this.map,
                          position: {lat: data.lat, lng: data.lng},
                          icon: icon,
                          animation:"bounce"
                      });

                        _this.map.setCenter(marker.getPosition());


                        marker.addListener('click', function() {
                            _this.map.setZoom(16);
                            _this.map.setCenter(marker.getPosition());

                      });

                      markers.push(marker);

                });

            

            });
        }
    }
</script>
