<template>
    <div>
       <div class="form-group" style="display: none">
        <label for="location">Current Location*</label>
        <input type="text" class="form-control" id="location"> 
        <span role="alert" class="invalid-feedback" id="location_feedback"></span>

      </div> 
        <div  class="form-group" >
         <input    type="text" class="form-control" id="lat" style="display: none"> 
      </div> 
        <div class="form-group"  >
         <input  type="text" class="form-control" id="lng" style="display: none"> 
      </div> 

      
      <div class="row" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">

       <!--    <div class="col-md-4">
              <p-radio checked class="p-default p-curve" name="color" color="info-o" v-on:change="searchInit()">Search location</p-radio>
          </div>            -->
          

          <div class="col-md-4">
              <p-radio checked class="p-default p-curve" name="color" color="info-o" v-on:change="googleMapsLocation()">Google Maps</p-radio>
          </div>

          <div class="col-md-4">
              <p-radio class="p-default p-curve" name="color" color="info-o" v-on:change="geoLocate()">My location</p-radio>   
          </div>         
           
      </div>
          
      <div id="map" style="height: 300px;"></div>

<div class="modal fade" id="civilian-geo-fencing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Geofencing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
         <div id="geofence-map"  style="height: 500px;"></div>
        
      </div>
   
    </div>
  </div>
</div>

    </div>
</template>
 
<script>
     

    var map, marker;
    var point_map = false;   
    var GoogleMapsLoader = require('google-maps'); // only for common js environments
    var geo_fence_map;
    var pos;

    var directionsService ;
    var directionsDisplay;

     export default {
        data() {

            return {
                map : null,
                marker : null,
                search: '',
                center : {lat:14.1877, lng:121.1251},

            }
        },
        methods : {
            searchInit() {

    
                var elmap = document.getElementById('map');
                var input = document.getElementById('location');

                var options = {
                   componentRestrictions: {country: 'ph'}
                };
                
                lat.value = '';
                lng.value = '';
                elmap.style.display = 'none';

                var _this = this;


                GoogleMapsLoader.load(function(google) {

                     _this.search = new google.maps.places.Autocomplete(input, options);

                      _this.search.addListener('place_changed', function() {
                          
                          let place = _this.getPlace();

                          let location = place.geometry.location;

                       
                          lat.value = location.lat();
                          lng.value = location.lng();

                          map.setCenter(location);
                          marker.setPosition(location);
         
                       }); 

                    _this.googleMaps(false);
                    marker.setOptions({draggable: false});



                });

             
            } ,
            geoLocate() {
                 

              var elmap = document.getElementById('map');
              elmap.style.display = '';
              
              this.googleMaps(false);

              if (navigator.geolocation){
               
                navigator.geolocation.getCurrentPosition(function(position) { 
                       var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                        map.setCenter(pos);
                        marker.setPosition(pos);
                        // alert('google maps');
                    },
                    function(failure) {
                      $.getJSON('https://ipinfo.io/geo', function(response) { 
                        var loc = response.loc.split(',');
                        var pos  = {
                            lat: parseFloat(loc[0]),
                            lng: parseFloat(loc[1])
                        };
                   
                    // alert();
                        // alert(JSON.stringify(pos.lat));
                        // alert(JSON.stringify(parseDouble(pos.lat)));

                        map.setCenter(pos);
                        marker.setPosition(pos);

                        });  
                    }
                );
               

                } else {
                   // Browser doesn't support Geolocation
                }

                lat.value = marker.getPosition().lat();
                lng.value = marker.getPosition().lng();


                marker.setOptions({draggable: false});

            },
            googleMapsLocation() {
                this.googleMaps(true);
            },
            googleMaps(point_map) {


                // let script = document.createElement('script');
                //  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4&libraries=geometry,places';
                //  document.body.appendChild(script);
                //  script.load = function(){  
                
                //  };

                var elmap = document.getElementById('map');
                elmap.style.display = '';

                var center = this.center;

                GoogleMapsLoader.load(function(google) {
               
                  // if(this.map == null) {

                    map = new google.maps.Map(document.getElementById('map'), {
                      center: center,
                      zoom: 13
                    });

                     marker = new google.maps.Marker({
                          map: map,
                          position:center,
                          animation:"bounce"
                      });
                     
                  // }

                    marker.setOptions({draggable: true});
                   
                    google.maps.event.addListener(marker, 'position_changed', function(){


          
                      lat.value = marker.getPosition().lat();
                      lng.value = marker.getPosition().lng();


                    });

                   
                    google.maps.event.addListener(map, 'click', function(event) {
                        
                        if(point_map == true) {

                             marker.setPosition(event.latLng);
                   
                          lat.value = marker.getPosition().lat();
                          lng.value = marker.getPosition().lng();

                          }

                    });
        
                })

            },
            setupFenceMap(pos) {

                var marker;
                var fence;


                GoogleMapsLoader.load(function(google) {


                    directionsService = new google.maps.DirectionsService;
                    directionsDisplay = new google.maps.DirectionsRenderer;

                   geo_fence_map =  new google.maps.Map(document.getElementById('geofence-map'), {
                          center: pos,
                          zoom: 13
                        });          

                    fence = new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.5,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.2,
                        map:  geo_fence_map ,
                        center: pos,
                        radius: 5000
                    });

                    marker = new google.maps.Marker({
                        position: pos,
                        map: geo_fence_map ,
                        animation: google.maps.Animation.DROP,
                        title: 'searchAreaMarker'
                    });

                    directionsDisplay.setMap(geo_fence_map);
                    directionsDisplay.setOptions( { suppressMarkers: true } );




                });

            },
            geofenceMap() {


                var _this = this;
                 if (navigator.geolocation){
                
                   navigator.geolocation.getCurrentPosition(function(position) { 
                       pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                                  
                          _this.setupFenceMap(pos);
                     
                    }, function(failure) {
                       
                    
                    });
                   


                } else {
                   // Browser doesn't support Geolocation
                }



            


            }, calculateAndDisplayRoute(directionsService, directionsDisplay, e) {

                 directionsService.route({
                     origin:{ lat: e.lat, lng: e.lng },
                  destination:pos,
                  travelMode: 'WALKING'
                }, function(response, status) {
                  if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                  } else {
                    window.alert('Directions request failed due to ' + status);
                  }
                });

            }
        },
 
        mounted() {

            var lat = document.getElementById('lat');
            var lng = document.getElementById('lng');
           

            GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];


            this.googleMaps();
            this.geofenceMap();



        },
        created() {

            GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];


            Echo.channel('fetch-geofence-user-'+this.$userId)
            .listen('FetchGeofence',(e) =>   {


                var _this = this;

                GoogleMapsLoader.load(function(google) {


                  toastr.options.progressBar = true;
                  toastr.options.positionClass = "toast-bottom-center";
                  toastr.info('New officers receives your report.');

                    var icon = new google.maps.MarkerImage(
                       '/img/badge.svg',
                          null, 
                          null,
                          null,
                          new google.maps.Size(40, 40)); 


                   var marker = new google.maps.Marker({
                      position: { lat: e.lat, lng: e.lng },
                      map: geo_fence_map,
                      icon: icon,
                      animation: google.maps.Animation.DROP,
                      title: 'searchAreaMarker'

                  });

                    // _this.calculateAndDisplayRoute(directionsService, directionsDisplay, e);


                    marker.setOptions({draggable: true});

                     geo_fence_map.setZoom(13);

          
                  $('#civilian-geo-fencing').modal('show');

                });


            });


        }
    
    };
</script>
