<template>
    <div>
       <div class="form-group">
        <label for="location">Incident Location*</label>
        <input type="text" class="form-control" id="edit_location"> 
        <span role="alert" class="invalid-feedback" id="location_feedback"></span>

      </div> 
        <div  class="form-group" >
         <input    type="text" class="form-control" id="edit_lat" style="display: none"> 
      </div> 
        <div class="form-group"  >
         <input  type="text" class="form-control" id="edit_lng" style="display: none"> 
      </div> 

      
      <div class="row" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">

       <!--    <div class="col-md-4">
              <p-radio checked class="p-default p-curve" name="color" color="info-o" v-on:change="searchInit()">Search location</p-radio>
          </div>            -->
          

          <div class="col-md-4">
              <p-radio checked class="p-default p-curve" name="color" color="info-o" v-on:change="googleMapsLocation()">Google Maps</p-radio>
          </div>

          <div class="col-md-4">
              <p-radio class="p-default p-curve" name="color" color="info-o" v-on:change="geoLocate()">My location</p-radio>   
          </div>         
           
      </div>
          
      <div id="edit_map" style="height: 300px;"></div>

    </div>
</template>
 
<script>
      
     var map, marker;
     var point_map = false;
   
     export default {
        data() {

            return {
                map : null,
                marker : null,
                search: '',
                center : {lat:14.1877, lng:121.1251},

            }
        },
        methods : {
            searchInit() {

    
                var elmap = document.getElementById('edit_map');
                var input = document.getElementById('edit_location');

                var options = {
                   componentRestrictions: {country: 'ph'}
                };
                
                lat.value = '';
                lng.value = '';
                elmap.style.display = 'none';

                this.search = new google.maps.places.Autocomplete(input, options);

                this.search .addListener('place_changed', function() {
                    
                    let place = this.getPlace();

                    let location = place.geometry.location;

                 
                    lat.value = location.lat();
                    lng.value = location.lng();

                    map.setCenter(location);
                    marker.setPosition(location);
   
                 }); 

              this.googleMaps(false);
              marker.setOptions({draggable: false});


            } ,
            geoLocate() {

               

              var elmap = document.getElementById('edit_map');
              elmap.style.display = '';
              
              this.googleMaps(false);

              if (navigator.geolocation){
               
                navigator.geolocation.getCurrentPosition(function(position) { 
                       var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                        map.setCenter(pos);
                        marker.setPosition(pos);
                        // alert('google maps');
                    },
                    function(failure) {
                      $.getJSON('https://ipinfo.io/geo', function(response) { 
                        var loc = response.loc.split(',');
                        var pos  = {
                            lat: parseFloat(loc[0]),
                            lng: parseFloat(loc[1])
                        };
                   
                    // alert();
                        // alert(JSON.stringify(pos.lat));
                        // alert(JSON.stringify(parseDouble(pos.lat)));

                        map.setCenter(pos);
                        marker.setPosition(pos);

                        });  
                    }
                );
               

                } else {
                   // Browser doesn't support Geolocation
                }

                lat.value = marker.getPosition().lat();
                lng.value = marker.getPosition().lng();


                marker.setOptions({draggable: false});

            },
            googleMapsLocation() {
                this.googleMaps(true);
            },
            googleMaps(point_map) {

            

                var elmap = document.getElementById('edit_map');
                elmap.style.display = '';

                if(this.map == null) {

                  map = new google.maps.Map(document.getElementById('edit_map'), {
                    center: this.center,
                    zoom: 13
                  });

                   marker = new google.maps.Marker({
                        map: map,
                        position:this.center,
                        animation:"bounce"
                    });
                   
                }

              marker.setOptions({draggable: true});
             
              google.maps.event.addListener(marker, 'position_changed', function(){


    
                lat.value = marker.getPosition().lat();
                lng.value = marker.getPosition().lng();


              });

             
              google.maps.event.addListener(map, 'click', function(event) {
                  
                  if(point_map == true) {

                       marker.setPosition(event.latLng);
             
                    lat.value = marker.getPosition().lat();
                    lng.value = marker.getPosition().lng();

                    }

              });
  
             

            
            }
        },
 
        mounted() {

            var lat = document.getElementById('edit_lat');
            var lng = document.getElementById('edit_lng');
           

            this.googleMaps();
          

        },
    
    };
</script>
