<template>
    
       <div>
      

            <div id="map-canvas" style="position: absolute;"></div>  
            
     
    </div>
</template>

<script>
    
    var GoogleMapsLoader = require('google-maps'); // only for common js environments
    var id, target, options;
    var directionsService ;
    var directionsDisplay;
    var marker ;

    target = {
      latitude : 0,
      longitude: 0
    };

    options = {
        enableHighAccuracy: true,
        distanceFilter: 0,

    };

    export default {

    	data() {
 
            return {

                map: null,
                reporter_fence: null,
                reporter_marker: null,
                reporter_center : { lat: parseFloat(this.$incidentLat), lng: parseFloat(this.$incidentLng) },
                radius: 5000


            };

    	},
    	methods: {

            initMap() {

                var _this = this;



                GoogleMapsLoader.load(function(google) { 


                    directionsService = new google.maps.DirectionsService;
                    directionsDisplay = new google.maps.DirectionsRenderer({preserveViewport: true});

                    _this.map = new google.maps.Map(document.getElementById('map-canvas'), {
                          center: _this.reporter_center,
                          zoom: 14,
                          mapTypeId: google.maps.MapTypeId.ROADMAP,
                          mapTypeControl: true
                      });

                    _this.reporter_marker = new google.maps.Marker({
                        position: _this.reporter_center,
                        map: _this.map,
                        draggable: true,
                     });


                     var icon = new google.maps.MarkerImage(
                       '/img/badge.svg',
                          null, 
                          null,
                          null,
                          new google.maps.Size(40, 40)); 

                       marker = new google.maps.Marker({
                               map: _this.map,
                              icon: icon,
                               

                          });

                      _this.reporter_fence = new google.maps.Circle({
                          strokeColor: '#72bcd4',
                          strokeOpacity: 0.5,
                          strokeWeight: 2,
                          fillColor: '#72bcd4',
                          fillOpacity: 0.2,
                          map: _this.map,
                           radius: _this.radius
                      });

                     directionsDisplay.setMap(_this.map);
                    directionsDisplay.setOptions( { suppressMarkers: true } );


                });

            },
            error(err) {
                  console.warn('ERROR(' + err.code + '): ' + err.message);
            },
            success(pos) {
                 // var crd = pos.coords;

                 // this.getRoute(crd)

                 // alert(JSON.stringify(crd.latitude));
        

           
            },
            watch() {
              // navigator.geolocation.watchPosition(this.success, this.error, options);
              var _this = this;
               if (navigator.geolocation){
               
                    navigator.geolocation.getCurrentPosition(function(position) { 
                       

                        var crd = position.coords;
                        _this.getRoute(crd)

                        // alert(JSON.stringify(position.coords.latitude));
                        setTimeout(_this.watch, 3000);

                    },
                      function(failure) {
                       
                      }
                  );
               

                } else {
                   // Browser doesn't support Geolocation
                }


            },
            getRoute(crd) {


                  // this.initMap();
                  var _this = this;

                GoogleMapsLoader.load(function(google) {
 
                    marker.setPosition( { lat: crd.latitude, lng: crd.longitude });

              
                    _this.reporter_fence.setCenter( { lat: crd.latitude, lng: crd.longitude });
             

                    _this.calculateAndDisplayRoute(directionsService, directionsDisplay, crd);

 
                   // _this.map.setZoom(13);

          
 
                });

          // if (target.latitude === crd.latitude && target.longitude === crd.longitude) {
          //   console.log('Congratulations, you reached the target');
          //   navigator.geolocation.clearWatch(id);
          // }
            },
             calculateAndDisplayRoute(directionsService, directionsDisplay, e) {


              var _this = this;

                 directionsService.route({
                  origin:{ lat: e.latitude, lng: e.longitude },
                  destination:this.reporter_center,
                  travelMode: 'WALKING'
                }, function(response, status) {
                  if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    // _this.map.setCenter({ lat: e.latitude, lng: e.longitude });
                  } else {
                    window.alert('Directions request failed due to ' + status);
                  }
                });
             }

 
    	}, 

    	mounted() {

    	   GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
           GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];

           this.initMap();

        this.watch();


    	},

    	created() {

            GoogleMapsLoader.KEY = 'AIzaSyCyXzfrXuKeardoOze30WW9wq6SzDT4_T4';
            GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];


    	}
  
    };




</script>
