<template>
    
	<span id="total-registration-requests"></span>	

</template>

<script>
    export default {

    	data() {

    		return {

    			totalRegistrationRequest  : null

    		}

    	},
    	methods: {

    		loadTotalRegistrationRequest() {

    			this.totalRegistrationRequest = document.getElementById('total-registration-requests');

    			 axios.get('/api/total-registration-requests')
			      .then(response => {
			        this.totalRegistrationRequest.textContent  = response.data.total_registration_requests
			      });
			      

    		}

    	}, 

    	mounted() {

    		this.loadTotalRegistrationRequest();

    	},

    	created() {

		  Echo.channel('total-registration-request')
            .listen('LoadTotalRegistrationRequest',(e) =>   {

            	this.loadTotalRegistrationRequest();

            });

    	}
  
    };

</script>
