<template>
    
	<span id="total-civilians"></span>	

</template>

<script>
    
    export default {

    	data() {

    		return {

    			totalCivilian  : null

    		}

    	},
    	methods: {

    		loadTotalCivilians() {

    			this.totalCivilian = document.getElementById('total-civilians');

    			 axios.get('/api/total-civilians')
			      .then(response => {
			        this.totalCivilian.textContent  =response.data.total_civilians
			      });
			      

    		}

    	}, 

    	mounted() {

    		this.loadTotalCivilians();

    	},

    	created() {

		  Echo.channel('total-civilian')
            .listen('LoadTotalCivilian',(e) =>   {
            
            	this.loadTotalCivilians();

            });
    	}
  
    };

</script>
