<template>
    
	<span id="total-officers"></span>	

</template>

<script>
    
    export default {

    	data() {

    		return {

    			totalOfficer  : null

    		}

    	},
    	methods: {

    		loadTotalOfficers() {

                this.totalOfficer = document.getElementById('total-officers');

    			 axios.get('/api/total-officers')
			      .then(response => {
			        this.totalOfficer.textContent  =response.data.total_officers
			      });
			      

    		}

    	}, 

    	mounted() {

    		this.loadTotalOfficers();

    	},

    	created() {

		  Echo.channel('total-officer')
            .listen('LoadTotalOfficer',(e) =>   {
            
            	this.loadTotalOfficers();
                console.log(e);

            });


    	}
  
    };

</script>
